.Table {
  width: 100%;
  margin: auto;
  padding: 30px;
}

.Right {
  text-align: right;
  padding-right: 40px;
}

.Modal {
  padding: 20px;
}

.ModalHeader {
  background-color: #0dca3c;
}

.Padding {
  padding: 10px;
}

.super {
  vertical-align: super;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.linebreak {
  white-space: pre-line;
}

.ql-container {
  min-height: 200px;
}

.ql-editor {
  min-height: 200px;
}

/* This removes blue outline from react hotkeys */
div[tabindex="-1"]:focus {
  outline: 0;
}
