.App {
  text-align: center;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 8px;
}

.ModalForm {
  padding: 20px;
  text-align: center;
}

.Padding {
  padding: 10px;
}

.center {
  margin: auto;
  width: 85%;
}

.foo {
  text-align: left;
  padding-left: 10px;
  padding-top: 15px;
}
